.htaccess
lib/*
docs/bugzilla.ent
docs/en/xml/bugzilla.ent
docs/en/txt
docs/en/html
docs/en/pdf
skins/custom
graphs
data
localconfig
index.html


FABIO-NOTES
*.bak
update_bugzilla_to_latest_stable.sh
