[%# -*- mode: html -*- %]

[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vitaly Harisov  <vitaly@rathedg.com>
  #                 Guy Pyrzak <guy.pyrzak@gmail.com>
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/variables.none.tmpl %]


[% PROCESS global/header.html.tmpl
   title = "Home"
   header = "Sabayon Bug Tracker - Home" 
   header_addl_info = "Your frigging bug hunter"
   style_urls = [ 'skins/standard/index.css' ]
%]


<script type="text/javascript">
<!--
function onLoadActions() {
  quicksearchHelpText('quicksearch_main', 'show');
  if( window.external.AddSearchProvider ){
    YAHOO.util.Dom.removeClass('quicksearch_plugin', 'bz_default_hidden');
  }
  document.getElementById('quicksearch_top').focus();
}
function addSidebar() {
  var sidebarname=window.location.host;
  if (!/bug/i.test(sidebarname))
    sidebarname="[% terms.Bugzilla %] "+sidebarname;
  window.sidebar.addPanel (sidebarname, "[% urlbase FILTER html %]sidebar.cgi", "");
}
var quicksearch_message = "Enter [% terms.abug %] # or some search terms";

function checkQuicksearch( form ) {
  if (form.quicksearch.value == '' || form.quicksearch.value == quicksearch_message ) { 
    alert('Please enter one or more search terms first.');
    return false; 
  }
  return true;         
}

function quicksearchHelpText(el_id, action){
  var el = document.getElementById(el_id);
  if ( action == "show") {
    if( el.value == "" ) {
      el.value = quicksearch_message
      YAHOO.util.Dom.addClass(el, "quicksearch_help_text");
    }
  } else {
    if( el.value == quicksearch_message ) {
      el.value = "";
      YAHOO.util.Dom.removeClass(el, "quicksearch_help_text");
    }
  }
}
YAHOO.util.Event.onDOMReady(onLoadActions);
//-->
</script>

[% IF release %]
  <div id="new_release">
    [% IF release.data %]
      [% IF release.deprecated %]
        <p>[% terms.Bugzilla %] [%+ release.deprecated FILTER html %] is no longer
        supported. You are highly encouraged to upgrade in order to keep your
        system secure.</p>
      [% END %]

      <p>A new [% terms.Bugzilla %] version ([% release.data.latest_ver FILTER html %])
      is available at
      <a href="[% release.data.url FILTER html %]">[% release.data.url FILTER html %]</a>.<br>
      Release date: [% release.data.date FILTER html %]</p>

      <p class="notice">This message is only shown to logged in users with admin privs.
      You can configure this notification from the
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Parameters</a> page.</p>
    [% ELSIF release.error == "cannot_download" %]
      <p>The local XML file '[% release.xml_file FILTER html %]' cannot be created.
      Please make sure the web server can write in this directory and that you can access
      the web. If you are behind a proxy, set the
      <a href="editparams.cgi?section=advanced#proxy_url_desc">proxy_url</a> parameter correctly.</p>
    [% ELSIF release.error == "no_update" %]
      <p>The local XML file '[% release.xml_file FILTER html %]' cannot be updated.
      Please make sure the web server can edit this file.</p>
    [% ELSIF release.error == "no_access" %]
      <p>The local XML file '[% release.xml_file FILTER html %]' cannot be read.
      Please make sure this file has the correct rights set on it.</p>
    [% ELSIF release.error == "corrupted" %]
      <p>The local XML file '[% release.xml_file FILTER html %]' has an invalid XML format.
      Please delete it and try accessing this page again.</p>
    [% ELSIF release.error == "unknown_parameter" %]
      <p>'[% Param("upgrade_notification") FILTER html %]' is not a valid notification
      parameter. Please check this parameter in the
      <a href="editparams.cgi?section=general#upgrade_notification_desc">Parameters</a> page.</p>
    [% END %]
  </div>
[% END %]

<div id="page-index">
	<div id="col1" class="col_mid">
		<div id="introduction" class="block">
			<img src="images/sabayon-logo-95px.png" class="frontpage right" alt="Sabayon Logo"/>
			<h2>Welcome</h2>
			<p>Welcome to the Sabayon Linux issue tracker.  This site is for <a href="http://bugs.sabayon.org/enter_bug.cgi">bug submissions</a> as well
			as <a href="http://bugs.sabayon.org/enter_bug.cgi?product=Entropy&format=packreq">feature and package requests</a>.  Before making a submission, please make sure to do a <a href="http://bugs.sabayon.org/query.cgi">search</a>.
			This will ensure that you don't submit a duplicate, and will tell you if this is an issue
			that is being addressed, or one that has already been fixed.</p>

			<p>When submitting a bug report, please try to provide as much information as possible including
			program and version, logs, tracebacks, and a description of what conditions are necessary to 
			reproduce the problem. The more information we have, the better we are able to track the issue 
			down and get it fixed.</p>
		</div>
	</div>
		<div id="col2" class="col_mid col_center">
		<div id="common_actions" class="block">
			<img src="images/actions.png" class="frontpage right" alt="Bugs!"/>
			<h2>Most Common Actions</h2>
				<ul class="bulletlist">
					 <li id="entropyreq">
						<a href="enter_bug.cgi?product=Entropy&format=packreq">Make an Entropy Package Request</a>
					</li>
					<li id="openissues">
						<a href="buglist.cgi?query_format=advanced&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bug_status=VERIFIED&chfieldfrom=3m&chfieldto=Now&chfield=[Bug+creation]&chfield=assigned_to&order=bugs.bug_id%20desc">View Open Issues</a></li>
					<li id="lastweek">
						<a href="buglist.cgi?bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&bugidtype=include&chfieldfrom=1w&chfieldto=Now&query_format=advanced&value-1-0-0=NEW%2CASSIGNED%2CREOPENED&order=bugs.bug_id%20desc">Last Week's Issues</a></li>
					<li id="search">
						<a href="query.cgi">Search existing [% terms.bug %] reports</a>
					</li>
					<li id="enter-bug">
						<a href="enter_bug.cgi">Enter a new [% terms.bug %] report</a>
					</li>
				</ul>

		    <h2>User Management</h2>
			<ul class="bulletlist">
			[% IF user.id %]
				<li id="userprefs">
					<a href="userprefs.cgi">Change password or user preferences</a>
				</li>
				[% IF user.authorizer.can_logout %]
				<li id="logout">
					<a href="relogin.cgi">Log out [% user.login FILTER html %]</a>
				</li>
			[% END %]
			[% ELSIF user.authorizer.can_login %]
				<li><a href="index.cgi?GoAheadAndLogIn=1">Login</a></li>
				[% IF Param('createemailregexp') && user.authorizer.user_can_create_account %]
					<li id="account">
					<a href="createaccount.cgi">Open a new [% terms.Bugzilla %] account</a>
					</li>
			[% END %]
			[% END %]
			    <li id="quick_search_plugin">
					<a href="javascript:window.external.AddSearchProvider('[% urlbase FILTER html %]search_plugin.cgi')">Add a Sabayon Bugzilla Quick Search plugin</a>
			    </li>
			[%# List items of links to more things users can do on this installation. %]
			[% Hook.process("links") %]
			</ul>
		</div>
	</div>
	<div id="col3" class="col_mid">
		<div id="search" class="block">
			<img src="images/search.png" class="frontpage right" alt="Search"/>
			<h2>Search</h2>
			<form id="f" name="f" action="buglist.cgi" method="get"
				onsubmit="if (this.quicksearch.value == '')
			    { alert('Please enter one or more search terms first.');
			    return false; } return true;">
				<div>
				    <p>Enter [% terms.abug %] # or some search terms:</p>
					<input id="quicksearch" type="text" name="quicksearch">
					<input id="find" type="submit" value="Find">
					<a href="page.cgi?id=quicksearch.html">[Help]</a>
				</div>
			</form>
		</div>
	</div>
</div>

[% PROCESS global/footer.html.tmpl %]
