/*
 * Custom rules for global.css.
 * The rules you put here override rules in that stylesheet.
 */

body {
	background-color: #E4EEFF;
	font-family:'Deju Vu Sans',Verdana,sans-serif,Helvetica,Arial,Geneva;
	padding: 0em;
	margin: 0em;
}

/* Make Bugs option on menu white */
#anb-bugs a, #anb-bugs a:active, #anb-bugs a:hover, #anb-bugs a:visited {
        color: #FFF !important;
} 


#titles {
	background: none;
	color: #000;
	border: none;
}

#titles a {
	color:#FFFFFF;
}

#header .links, #header a{
	background-color: none;
	color: #2058B2;
	border: none;
}

/* Footer */
#footer {
	background: #FFF;
	border: none;
	color: #AAA;
	border: 1px solid #CCC;
	margin-left: 1em;
	margin-right: 1em;
	padding: 0 1em 0 1em;
	/* needed to fix float as other skins set it */
	width: inherit;
}

#footer a {
	color: #AAA;
}

#footer #copyright p {
	text-size: 0.75em;
}

#footer #useful-links {
	margin: 0;
	padding: 0;
}

#footer #useful-links #links-saved, #footer #useful-links #links-special {
        margin: 0.5em 0 0 0;
        padding: 0;
}

/* Generic (begin) */
:link {
	color: #2058B2;
}

:visited {
	color: ##2058B2;
}

:link:hover, :visited:hover {
	color: #2058B2;
}

:link:active, :link:active {
	color: #000;
}

a:link,a:link:hover {
	color: #2058B2;
}

a:visited {
	color: #2058B2;
}

/* Body */

#bugzilla-body {
	background: #ffffff;
	color: black;
	border: 1px solid #CCCCCC;
	margin-left: 1em;
	margin-right: 1em;
}

.bz_row_odd {
	background-color: #CCDDEE;
}

/* Quips + Clock */
#bugzilla-body .bz_query_timestamp {
        text-align: left;
	font-weight: bold;
        float: left;
        width: 25%;
	height: 1.5em;
	padding 0;
	margin: 0;
	color: #888;
}

#bugzilla-body .bz_quip {
	text-align: right;
	font-style: italic;
	float: right;
	width: 74%;
	height: 1.5em;
	padding: 0;
	margin: 0;
	color: #AAA;
}

#bugzilla-body .bz_query_timestamp p,  #bugzilla-body .bz_quip p {
	padding: 0;
	margin: 0;
}

/* Horizontal Rule - apprently people stull use them */
hr {
	/* clear defaults */
	border: none;
	/* Our style */
	border-top: 1px solid #CCC;
	height: 1px;
	color: #CCC;
	/* For Opera */
	background-color: #CCC;	
}


/* Bug comments */
#comments .bz_comment_table {
	width: 100%;
}
