<div id="sab_global_menu">
	<div id="sab_global_menu_inner" class="inside">
		<ul>
			<li><a accesskey="h" href="https://www.sabayon.org">Home</a></li>
			<li><a accesskey="f" href="https://forum.sabayon.org">Forums</a></li>
			<li><a accesskey="w" href="https://wiki.sabayon.org">Wiki</a></li>
			<li><a accesskey="b" href="/">Bugs</a></li>
			<li><a accesskey="a" href="https://packages.sabayon.org">Packages</a></li>
			<li><a accesskey="g" href="https://git.sabayon.org">Git</a></li>
			<li><a accesskey="d" href="https://www.sabayon.org/download">Download</a></li>
		</ul>
	</div>
</div>
