[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Christine Begle <cbegle@mozilla.org>
  #%]

[%# INTERFACE:
  # This template has the same interface as create.html.tmpl
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% PROCESS global/header.html.tmpl
   title = "Enter $terms.ABug"
   onload = "PutDescription()"
   style = "#somebugs { width: 100%; height: 500px }"
 %]

[% tablecolour = "#FFFFCC" %]

<a name="step1"></a>
<h3>Entropy Package Request System</h3>

<p>
  If you've tried a few searches (<strong>equo search</strong>) and the <a href="http://packages.sabayon.org">packages website</a> and your package really isn't in there, tell us all about it. This is designed to be super simple, if 
you have any ideas on improving this page please contact a member of the <a href="http://www.sabayon.org/pages/show/id/62">staff</a>.
<em>Please be patient before requesting version bumps for packages. We will update packages once they have been tested, which should not take very long.</em>
</p>

<form method="post" action="post_bug.cgi">
<input type="hidden" name="format" value="packreq">
<input type="hidden" name="assigned_to" value="joost.ruis@sabayon.org">
<input type="hidden" name="priority" value="[% default.priority FILTER html %]">
<input type="hidden" name="component" value="Request">
<input type="hidden" name="version" value="unspecified">
<input type="hidden" name="token" value="[% token FILTER html %]">
<input type="hidden" name="bug_severity" value="enhancement">
<input type="hidden" name="rep_platform" value="All">
<input type="hidden" name="op_sys" value="Linux">

<table valign="top" cellpadding="5" cellspacing="5" border="0">

  <tr class="packagereq-row">
    <td align="right" valign="top" class="packagereq-label">
      <b>Product</b>
    </td>
    <td valign="top" class="packagereq-desc">
      <input type="hidden" name="product" value="[% product.name FILTER html %]">
      [% product.name FILTER html %]
    </td>
  </tr>

  <tr class="packagereq-row">
    <td align="right" valign="top" class="packagereq-label">
      <b>Application</b>
    </td>
    <td valign="top" class="packagereq-desc">
	<p> This information can be found using <a href="http://packages.gentoo.org">Gentoo Packages Browser</a>. Your request may be discarded if this is incorrect. If the package is not in mainline Portage, please paste a link to the ebuild 
instead. If an ebuild does not exist, please file a bug to get it included in the Sabayon overlay first.
 </p>
	
	<table>
	<tr>
	<td>Packages "Real" Name:</td>
	<td><input name="realName" type="text" OnBlur="short_desc.value= actiontype.value + ' - ' + realName.value + ' (' + genCat.value + '/' + packName.value + '-' + reqVer.value + ')';" /> <em> e.g. "Claws Mail Client"</em></td>
	</tr>
	<tr>
	<td>Gentoo Package Category:</td>
	<td><input name="genCat" type="text" OnBlur="short_desc.value= actiontype.value + ' - ' + realName.value + ' (' + genCat.value + '/' + packName.value + '-' + reqVer.value + ')';" /> <em> e.g. "mail-client"</em></td>
	</tr>
	<tr>
	<td>Gentoo Package Name:</td>
	<td><input name="packName" type="text" OnBlur="short_desc.value= actiontype.value + ' - ' + realName.value + ' (' + genCat.value + '/' + packName.value + '-' + reqVer.value + ')';" /> <em> e.g. "claws-mail"</td>
	</tr>
	<tr>
	<td>Version Requested:</td>
	<td><input name="reqVer" type="text" OnBlur="short_desc.value= actiontype.value + ' - ' + realName.value + ' (' + genCat.value + '/' + packName.value + '-' + reqVer.value + ')';" /><em> e.g. "3.4.5-r1"</em></td>
	</tr>
	<tr>
	<td>Action Type:</td>
	<td><select name="actiontype" OnBlur="short_desc.value= actiontype.value + ' - ' + realName.value + ' (' + genCat.value + '/' + packName.value + '-' + reqVer.value + ')';">
		<OPTION VALUE="">
		<OPTION VALUE="Entropy Version Bump"                     >Newer Version Available
		<OPTION VALUE="Entropy New Package Request"              >Package Request
		</select>
	</td>
	</tr>
	</table>
	<input type="hidden" name="short_desc"> 

</td>
</tr>
	


  <tr class="packagereq-row">
    <td align="right" valign="top" class="packagereq-label">
      <b>URL</b>
    </td>
    <td valign="top" class="packagereq-desc">
      <input type="text" size="80" name="bug_file_loc" value="http://">
      <p>
        The Projects homepage (optional but highly reccomended).
      </p>
   </td>
  </tr>

<tr class="packagereq-row">
 <td align="right" valign="top" class="packagereq-label">
      <b>Extra Notes</b>
    </td>
    <td valign="top" class="packagereq-desc">
      [% INCLUDE global/textarea.html.tmpl
        name    = 'comment'
        minrows = 6
        cols    = constants.COMMENT_COLS
      %]
      <p>
        Why do we need this package in entropy?<br />If you require specific flags, please explain what they enable and why you think they are needed.<br />Feel free to add any other inforamtion you think may be relevant to the packagers.
      </p>
    </td>
  </tr>
</table>

<a name="step2"></a>
<h3>Submit the Package Request</h3>

<p>
  <input type="submit" id="report" value="    Submit [% terms.Bug %] Report    "
   onclick="if (this.form.comment.value == '')
   { alert('Please enter some details about this [% terms.bug %].');
     this.form.comment.focus();
     return false; } return true;">
</p>

<p>
  That's it! Thanks very much. You'll be notified by email about any
  progress that is made.
</p> 

<p>  
  Please be warned
  that we get quite alot of Requests filed - it may take quite a 
  while to get around to yours. You can help the process by making sure your 
  Request is complete and easy to understand, and by quickly replying to any questions
  which may arrive by email.
</p>

    </form>

[% PROCESS global/footer.html.tmpl %]

[%############################################################################%]
[%# Block for SELECT fields                                                  #%]
[%############################################################################%]

[% BLOCK select %]
  <select name="[% sel %]">
    [%- IF default.$sel %]
      <option value="[% default.$sel FILTER html %]" selected="selected">
        [% default.$sel FILTER html -%]
      </option>
    [% END %]
    [%- FOREACH x = $sel %]
      [% NEXT IF x == default.$sel %]
      <option value="[% x FILTER html %]">
        [% x FILTER html -%]
      </option>
    [%- END %]
  </select>
[% END %]
