/* People still put seperators in their html? sigh. */
ul.links span.separator {
	display: none;
}

ul.header_links {
	float: left;
	margin-top: 1em;
	max-width: 75%;
}

ul.header_links li {
	display: inline;
	margin-right: 1em;
	font-size: 1.4444em;
	color: #FFF;
}

ul.header_links li a {
	color: #FFF;
}

div#searchbox {
	float: right;
}
