@import url(notifications.css);

/*
 * Comments
 */

div.bz_comment_table {
	width: 76em;
}

div.bz_comment {
	overflow: auto;
}

div.bz_comment_head,
div.bz_first_comment_head {
	overflow: auto;
	border-top: 1px solid #BBB;
	border-bottom: 1px dotted #BBB;
	font-size:1.2em;
	margin: 1em 0;
	padding: 0.5em 0;
}

div.bz_comment_header_left {
	float: left:
	display: block;
}

div.bz_comment_header_left_inner {
	float: left;
}

.bz_comment_time {
	display: block;
	clear: right;
}

span.bz_comment_user {
	float: left;
	font-size: 1.2em;
}

span.bz_comment_user_images {
	float: left;
	clear: left;
	margin-right: 1em;
	height: 100%;
}

span.bz_comment_actions {
	float: right;
}

pre.bz_comment_text {
	font-size: 1.4em;
	clear: left;
}

.bz_alias_short_desc_container {
    margin: 8px 0; 
    padding: 0.3em; 
    background-color: rgb(208, 208, 208); 
    -moz-border-radius: 0.5em; 
    font-size: 125%; 
    font-weight: bold;
}

.bz_bug .edit_form {
	font-size: 1.2em;
	line-height: 1.6em;
	clear: both;
	font-family: Helvetica, sans-serif;
}

.bz_bug #alias {
    min-width: 0;
    width: 10em;
}

.flags_label {
    text-align: left;
}

.bz_column_spacer {
    width: 0.5em;
}

.related_actions {
    font-size: 0.85em; 
    float: right;
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.related_actions li {
    display: inline;
}

.bz_show_bug_column {
  vertical-align: top;
}

.bz_section_spacer {
    height: 1em;
}

#duplicate_settings, #votes_container {
    white-space: nowrap;
    
}
#bz_big_form_parts {
	font-size: 1.2em;
	line-height: 1.6em;
}

.bz_group_visibility_section {
    margin-left: 1em;
}

.bz_group_visibility_section .instructions {
    font-style: italic;
}

#bz_restrict_group_visibility_help .instructions {
    margin-top: 0;
}

#bz_enable_role_visibility_help {
    margin-top: 1em;
}

#status { 
    margin-bottom: 3ex;
}

.knob-buttons {
    float: right;
}

/* Info Box */
.infobox {
	float: right;
	margin: 1em 0;
	padding: 0.5em;
	width: 17em;
	background-color: #222;
	color: #FFF;
	clear: right;
	border-radius: 0.5em;
}



#infobox_stats table tr {
	height: 2em;
}

#infobox_stats table tr td b {
	padding-right: 1em;
}

.infobox a,
.infobox a:link,
.infobox a:visited,
.infobox a:active,
.infobox a:hover
 {
	color: #FFF;
}

/* Add Comments Box */
div#infobox_add_comment {
	background: #5C865C url('http://static.sabayon.org/site/img/bz_add_comment.png') no-repeat 95% center;
}

div#infobox_add_comment a {
	font-size: 1.2em;
	font-weight: bold;
}
